body {
    font-family: 'Open Sans Condensed';
    background: #EEEEEE;
    font-size: 1rem;
    line-height: 1.6;
    height: 100%;
    background-color: gray;
}

#form-main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-header {
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 2px solid blueviolet;
}

#two-buttons {
    width: 25%;
    margin: auto auto;
    border: 2px solid blueviolet;
    border-radius: 15px;
    padding: 5%;
    background-color: whitesmoke;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
}

#log-in-form {
    width: 25%;
    margin: auto auto;
    border: 2px solid blueviolet;
    border-radius: 15px;
    padding: 5%;
    background-color: whitesmoke;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
}

button {
    font-size: larger;
    background-color: blueviolet;
    color: white;
    height: 5vh;
    margin-bottom: 2em;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#button2 {
    width: fit-content;
}

button:hover {
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

#id-pwd {
    display: flex;
    flex-direction: column;
}

label {
    font-size: larger;
    width: 100%;
    margin-bottom: 3px;
}

input {
    font-size: larger;
    width: 100%;
    margin-bottom: 15px;
}

#main-nav {
    left: 15px;
    top: 15px;
    display: flex;
    justify-content: space-around;
}

#deliverY {
    display: flex;
    flex-direction: row;
}

main {
    background-color: white;
    width: 100%;
    padding: 15px;
}

#post-desc {
    text-indent: 32px;
    font-style: italic;
}

#post-auth {
    text-indent: 32px;
}

a {
    text-decoration: none;
    font-size: x-large;
    color: blueviolet;
    font-weight: bold;
}

a:hover {
    text-shadow: 0px 15px 20px rgba(46, 229, 157, 0.95);
}